[Desktop Entry]
Type=Application
Version=1.0
Name=BluejeansHelper
Comment=BluejeansHelperstartup script
Exec=/home/kevin/.config/bluejeans-v2/BluejeansHelper --hidden
StartupNotify=false
Terminal=false