#d_balloon * {
	padding: 0;
	margin: 0;
	list-style: none;
	font-family: Verdana, 'Arial Sans Unicode MS', Arial;
	font-size: 12px;
	background-color:transparent;
	border: none;
	border-radius:0px;
	box-shadow: none;
	color: #1c1c1c;
	width: auto;
	height: auto;
	font-weight: normal;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
	text-align: left;
	line-height: 18px;
}
#d_balloon, #d_pointer {
	position:absolute;
}
#d_balloon {
	min-width: 300px;
	max-width: 380px;
	border-radius: 4px;
	color: black;
	background-color:#fff;
	border: solid 1px #CCCBC9;
	box-shadow:0px 0px 15px -5px #333;
	/*-webkit-box-shadow:0 2px 7px #DDD*/
	font-family: Verdana, 'Arial Sans Unicode MS', Arial;
	z-index: 999999998;
}

#d_pointer, #d_pointer_base {
	font-size:0px;
	line-height:0px;
	width:0px; 
	height:0px; 
	border:10px solid transparent;
	border-color: #CCCBC9 transparent;
	z-index: 999999999;
}
#d_pointer.top {
	border-bottom: none;
	margin-top: -1px;
}
#d_pointer.bottom {
	border-top: none;
	margin-top: 1px;	
}
#d_pointer_base {
	border-width: 9px;
	border-color: #fff transparent;
	position: relative;
	left: -9px;
	z-index: 99999999;
}
#d_pointer.top #d_pointer_base {
	border-bottom: none;
	top: -10px;
}
#d_pointer.bottom #d_pointer_base {
	border-top: none;
	bottom: -1px;
}

#d_balloon a {
	color: rgb(36, 79, 209);
	
}
#d_balloon a:hover {
	color: rgb(36, 79, 209);
	text-decoration: underline;
}
#d_balloon abbr {
	border-bottom: 1px dotted #656565;
}
#d_balloon strong {
	font-weight: bold;
}
#d_balloon .highlight {
	font-weight: bold;
}

#d_balloon #d_balloon_content {
	padding: 12px 12px 12px 12px;
	font-size:12px;
	border-radius: 3px;
	color:#666;
	/*-webkit-box-shadow: 0 0 1px 1px white inset,inset 0 0 20px 3px rgba(230, 226, 220, .5);*/
}

#d_balloon_close {
	width: 12px;
	height: 12x;
	float: right;
	cursor: pointer;
	margin: -5px -5px 0 0;
}


#d_balloon  .d_balloon_pos {
	width: 75px;
}

#d_balloon #d_balloon_more {
	clear:both;
	width:100%;
	text-align:right;
	margin-top:-10px;
}
#d_balloon #d_balloon_more a {
	margin: 0 5px;
	display: inline-block;
	text-decoration: underline;
	float:none;
}

#d_balloon #example {
	margin-top:-7px;
	overflow-y: auto;
	max-height: 400px;
	padding-right: 6px;
	font-size: 13px;
	line-height:20px;
}
#d_balloon .example a{margin-top:-2px;font-family: 'Segoe UI', Tahoma, sans-serif;font-size:13px;}
#d_balloon .example .o{color: #121212;}
#d_balloon .example .t{padding-top:2px;color:#777;padding-bottom:10px;font-style: italic;}
#d_balloon .play{
background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATCAMAAABFjsb+AAAAgVBMVEUAAAAoKCgoKCgoKCgnJycoKCgnJycoKCgnJycoKCgmJiYoKCgoKCgoKCgoKCgmJiYmJiYoKCgoKCgoKCgnJycoKCgnJycnJycoKCgoKCgoKCgmJiYoKCgoKCgoKCgoKCgnJycoKCgnJycoKCgoKCgoKCgoKCgmJiYoKCgoKCgoKCgXBUyBAAAAKnRSTlMA/EQkz528aRn2zLajcGNQPwLGi4V3XS0nFREH8bB+VjkfDe/j2KmPjDeeOvZQAAAAsklEQVQY013Q2RKCMAwF0Fsspci+76C45/8/0Agqy31peybTZIJf8rTBLh7RaUcWubaBaE0+9VoYODjD9BxTp3MowYGtkuSObA+hlMowGZBRxx9IF5zZPM29fOBoLibjJpK3ZmM+BVxYbKyynzAo3FhBGQaeXa7sLkqYtoaKq7r+mrL44DkCsttLP5uGlm3JBaFlJZTgzIb8KoJlBenHShG/1ktw2Opws5mceNZ9wuB/fQNSUQtIBZ9qkwAAAABJRU5ErkJggg==');
vertical-align:text-top;display:inline-block;margin:-2px 0 0 0px;padding:0;cursor:pointer;width:19px;height:19px;border:none;
}
#d_balloon .play:active{opacity:.8}

#d_balloon ._link{cursor:pointer}

#d_balloon .maintitle {
	display: inline-block;
	padding: 0 8px 6px 0;
	margin: -4px 0 0 0;
	line-height: 1.2em;
	font: bold normal 18px 'Segoe UI';
	color: #444;
}
#d_balloon .sectitle {
	border-top: 1px solid #e7e7e7;
	margin-bottom: 7px;
	margin-top: 10px;
	padding-top: 5px;
	font: bold normal 17px 'Segoe UI';
	/*font-family: "Segoe UI Semibold", "Segoe Semibold", Helvetica, Arial, Verdana, MS Sans-Serif;font-weight: bold;font-size: 18px;*/
	color: #4e4e4e;
}
#d_balloon .dic-right{text-align:right;font-size:11px !important;padding-top:5px;color:#333;}
#d_balloon .iwik-tit{font-weight:bold;clear:both;margin-top:10px;font-size:15px;color:#777;}
#d_balloon .iwik-ins-def{padding-left:25px;color:#000}
#d_balloon .iwik-ins-ex{color:#777;padding-left:50px;}
#d_balloon .iwik-def{padding-top:10px;}
#d_balloon .iwik-ex{color:#777;padding-left:25px;}
#d_balloon .iwik-nu{color:#777;}