* {
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
}

html {
	font-size: 11px;
	line-height: 17px;
}

body {
	font: normal 1rem/17px Verdana, Arial;
}

h1, h2, h3, h4 {
	font-family: "Segoe UI Semibold", "Segoe Semibold", Helvetica, Arial, Verdana, MS Sans-Serif;
	font-weight: normal;
	color: #666;
	margin: 0;
	font-size:15px;
	font-weight:normal;
}

abbr {
	border-bottom: 1px dotted #656565;
}